# 1/ Create Data

In [1]:
-- Create Customers Table
CREATE TABLE Customers (
    Customer_ID INT PRIMARY KEY,
    Customer_Name VARCHAR(50)
);

-- Create Orders Table
CREATE TABLE Orders (
    Order_ID INT PRIMARY KEY,
    Customer_ID INT,
    Product VARCHAR(50),
    Amount INT,
    Order_Date DATE,
    FOREIGN KEY (Customer_ID) REFERENCES Customers(Customer_ID)
);

In [2]:
-- Insert data into Customers Table
INSERT INTO Customers (Customer_ID, Customer_Name)
VALUES 
(1, 'Adam'),
(2, 'Betty'),
(3, 'Cathy'),
(4, 'Doug'),
(5, 'Eliza'),
(6, 'Frank'),
(7, 'Gina'),
(8, 'Harry'),
(9, 'Isla'),
(10, 'Jack');

In [3]:
-- Cheak Data
select * from Customers

Customer_ID,Customer_Name
1,Adam
2,Betty
3,Cathy
4,Doug
5,Eliza
6,Frank
7,Gina
8,Harry
9,Isla
10,Jack

In [3]:
-- Insert data into Orders Table with random dates in respective months
INSERT INTO Orders (Order_ID, Customer_ID, Product, Amount, Order_Date)
VALUES
(1, 1, 'Eggs', 20, '2023-01-12'),
(2, 2, 'Milk', 10, '2023-01-07'),
(3, 3, 'Bread', 5, '2023-01-20'),
(4, 2, 'Peanut Butter', 12, '2023-02-16'),
(5, 3, 'Eggs', 18, '2023-02-09'),
(6, 4, 'Milk', 11, '2023-02-22'),
(7, 5, 'Bread', 7, '2023-02-05'),
(8, 6, 'Eggs', 25, '2023-02-14'),
(9, 1, 'Eggs', 19, '2023-03-08'),
(10, 3, 'Bread', 6, '2023-03-13'),
(11, 4, 'Milk', 10, '2023-03-24'),
(12, 6, 'Eggs', 24, '2023-03-07'),
(13, 7, 'Milk', 12, '2023-03-16'),
(14, 8, 'Bread', 9, '2023-03-11'),
(15, 9, 'Peanut Butter', 14, '2023-03-19');